img.uploadedImage {
    width: inherit;
    height: inherit;

}

.uploadContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}